{% extends 'base.html.twig' %}

{% block title %}Blog de pruebas{% endblock %}

{% block body %}
{% include 'layout/__flash-messages.html.twig' %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Blog Avengers</h1>
    <p class="lead">La saga de Los Vengadores es una franquicia de cuatro películas que se inició en el año 2012 con la película The Avengers y finalizó con Avengers: Endgame que se estrenó en 2019.</p>
    <p>Por ahora, la saga ha recaudado más de 7000 millones de dólares, con un presupuesto de unos 770 millones de dólares. Todas las películas están basadas en historias publicadas en revistas cómics de Marvel. </p>
  </div>
</div>

{% endblock %}
