{% extends 'base.html.twig' %}

{% block title %}Hello ContactoController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Formulario de Contacto</h1>
        {{ form(form) }}

        {% include 'layout/__flash-messages.html.twig' %}
    </div>
{% endblock %}
