{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>Se ha enviado un correo electrónico que contiene un enlace en el que puede hacer clic para restablecer su contraseña. Este enlace caducará en {{ tokenLifetime|date('g') }} hora(s).</p>
    <p>Si no recibe un correo electrónico, consulte su carpeta de correo no deseado o <a href="{{ path('app_forgot_password_request') }}">intente nuevamente</a>.</p>
    {% include 'layout/__flash-messages.html.twig' %}

{% endblock %}