<h1>Hola!</h1>

<p>Para cambiar su password, Por favor haga clic en el siguiente enlace</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Este Token expira en {{ tokenLifetime|date('g') }} hora(s).</p>

<p>Cheers!</p>
