{% extends 'base.html.twig' %}

{% block title %}Reset su password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reset su password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Ingrese su email y se le enviará un link para reset su password 
            </small>
        </div>

        <button class="btn btn-primary">Enviar password Reset</button>
    {{ form_end(requestForm) }}
{% endblock %}