{% extends 'base.html.twig' %}

{% block title %}Hello ContactoController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>{{ title == "editPost" ? 'Edita' : 'Crea' }} tu post</h1>
        {{ form(form) }}

        {% include 'layout/__flash-messages.html.twig' %}
    </div>
{% endblock %}
