{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="col-12 mx-auto my-4" style="width: 200px;">
        <a href="{{ path('userPost')}}" class="btn btn-outline-dark btn-sm">Mis post</a>
        <a href="{{ path('addPost')}}" class="btn btn-outline-dark btn-sm">Crear Post</a>
        <i class="fa fa-arrows-alt fa-2x float-right"></i>
    </div>
    {% endif %}
    <!-- Breadcrumbs -->
    <ol class="breadcrumb white z-depth-1">
        <li class="breadcrumb-item">
            <a href="{{ url('home') }}">Home Page</a>
        </li>
        {% if breadcrumb != "blog" %}
        <li class="breadcrumb-item">
            <a href="{{ url('blog') }}">Blog</a>
        </li>
        {% endif %}
        <li class="breadcrumb-item active">{{breadcrumb|capitalize}}</li>
    </ol>
    <!-- Breadcrumbs -->
    <h1>Blog Avengers</h1>
    {% include 'layout/__flash-messages.html.twig' %}
    <div class="row row-cols-1 row-cols-md-2">
    {% for post in posts %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                {% if post.image is empty %}
                <img src="{{ asset('assets/images/default.jpg') }}" class="card-img-top" alt="...">
                {% else %}
                <img src="{{ asset('assets/images/post/' ~ post.image) }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <small class="text-muted">{{ post.getUserId().name }}</small>
                    <small>
                        {{ post.createdAt|date("M d Y", "America/Bogota") }}
                    </small>
                    <p class="card-text">{{post.body|slice(0, 50)}}...</p>
                    <a href="{{ path('showPost', {id: post.id})}}" class="btn btn-primary">Leer Más</a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == post.getUserId().id %}
                    <a href="{{ path('editPost', {id: post.id})}}" class="btn btn-outline-dark btn-sm">Editar</a>
                    <a href="{{ path('deletePost', {id: post.id})}}" class="btn btn-outline-dark btn-sm">Despublicar</a>
                    {% endif %}
                </div>
                <footer class="text-black">
                    
                </footer>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
