{% extends 'base.html.twig' %}

{% block title %}Hello ContactoController!{% endblock %}

{% block body %}
    <!-- Breadcrumbs -->
    <ol class="breadcrumb white z-depth-1">
        <li class="breadcrumb-item">
            <a href="{{ url('home') }}">Home Page</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url('blog') }}">Blog</a>
        </li>
        <li class="breadcrumb-item active">{{post.title}}</li>
    </ol>
    <!-- Breadcrumbs -->
    <div class="container">
        {% if post.image is empty %}
            <img src="{{ asset('assets/images/default.jpg') }}" class="card-img-top rounded mx-auto d-block img-max" alt="...">
        {% else %}
            <img src="{{ asset('assets/images/post/' ~ post.image) }}" class="card-img-top rounded mx-auto d-block img-max" alt="...">
        {% endif %}
        <h1 class="font-weight-bold mb-4">{{post.title}}</h1>
        <div class="card mb-4">
            <!--Card content-->
            <div class="card-body">
                <p>Por: {{ post.getUserId().name }} en {{ post.createdAt|date("M d Y", "America/Bogota") }}</p>
                
                <p>{{post.body}}</p>
            </div>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="col-12 mx-auto my-4" style="width: 200px;">
        <a href="{{ path('editPost', {id: post.id})}}" class="btn btn-outline-dark btn-sm">Editar</a>
        <a href="{{ path('deletePost', {id: post.id})}}" class="btn btn-outline-dark btn-sm">Eliminar</a>
        <i class="fa fa-arrows-alt fa-2x float-right"></i>
    </div>
    {% endif %}
{% endblock %}
