{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('message_ok') %}
    <div class="alert alert-success" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-success" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}