<ol class="breadcrumb white z-depth-1">
    <li class="breadcrumb-item">
        <a href="{{ url('home') }}">Home Page</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ url('blog') }}">Blog</a>
    </li>
    <li class="breadcrumb-item active">{{post.title}}</li>
</ol>