<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url('home') }}">
    <img src="{{ url('home') }}/assets/images/A-64.png" width="32" height="32" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if app.request.get('_route') == 'home' %} active{% endif %}">
        <a class="nav-link" href="{{ url('home') }}">Home</a>
      </li>
      <li class="nav-item {% if app.request.get('_route') == 'blog' %} active{% endif %}">
        <a class="nav-link" href="{{ url('blog') }}">Blog</a>
      </li>
      <li class="nav-item {% if app.request.get('_route') == 'contacto' %} active{% endif %}">
        <a class="nav-link" href="{{ url('contacto') }}">Contacto</a>
      </li>
    </ul>
    <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          Hola, {{ app.user.name }}
          <a class="nav-link" href="{{ url('app_logout') }}">Salir</a>
        </li>
    {% else %}
        <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url('user') }}">Registrarse |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url('app_login') }}">Login</a>
        </li>
      {% endif %}  
      </ul>
    </div>
</nav>